
.wrapper {
}
.header {
}
.container {
}
.main {
    flex: 1 1 auto;
}
.main__body {
    text-align: center;
}
.main__body input {
    display: flex;
    align-items: center;
    border: 2px solid red;
    margin: 10px auto;
    padding: 5px;
    font-size: 20px;
}
input::placeholder{
    font-size: 20px;
    color: blue;
    padding: 5px;
}
.main__body .btn {
    border: 2px solid red;
    padding: 5px;
    width: 20%;
    margin: 5px;
}
.answer__block {
    padding: 20px;
    line-height: 1.3;
}
.answer__block p {
    line-height: 1.3;
}
.answer__block h1 {
    margin: 5px;
}
.footer {
}