
.wrapper {
    background-color: rgb(196, 201, 200);
}
.header {
}
.header h1 {
    text-align: center;
    font-size: 25px;
    margin: 8px;
    color: #2f19e9;
    font-style: italic;
}
.container {
}
.main {
    flex: 1 1 auto;
}
.main__body {
    text-align: center;
}
.main__body input {
    display: flex;
    align-items: center;
    border: 2px solid red;
    margin: 10px auto;
    padding: 5px;
    font-size: 20px;
}
input::placeholder{
    font-size: 20px;
    color: blue;
    padding: 5px;
}
.main__body .btn {
    border: 2px solid red;
    border-radius: 10px;
    padding: 5px;
    width: 170px;
    margin: 5px;
    background-color: rgb(18, 152, 90);
    color: white;
    font-size: 25px;
}
.answer__block {
    padding: 20px;
    line-height: 1.3;
}
.answer__block p {
    line-height: 1.3;
}
.answer__block h1 {
    margin: 5px;
}
.none {
    display: none;
}
.red {
    color: red;
}
.footer {
}